@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Playfair Display', sans-serif;
}




header {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 240px;
    background-color: #272d3467;
    z-index: 1;
}

.img-container {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.logo {
    width: 40%;
    height: auto;
    border-radius: 50%;
}

.logo-text {
    color: #ffffff;
    font-size: 2rem;
}

.logo-text:hover {
    color: #cdba6d;
}

nav {
    width: 60%;
}

ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li a {
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}



li a:hover {
    color: #cdba6d;
    cursor: pointer;
}

#search-icon {
    color: #ffffff;
    cursor: pointer;
}

#search-icon:hover {
    color: #cdba6d;
}

#menu-icon {
    display: none;
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer;
}

#menu-icon:hover {
    color: #cdba6d;
}

.modal {
    width: 100%;
    height: auto;
    min-height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.home-container {
    background-image: url('./assets/background-inteligence.png');
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.presentation-container {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-top: 130px;
    padding: 10px;
    color: #ffffff;
    z-index: 1;
}

.presentation-container h3 {
    letter-spacing: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.presentation-container h1 {
    font-size: 3rem;
    text-align: center;
}

.presentation-container span {
    color: #cdba6d;
}

.presentation-container P {
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.presentation-container button {
    width: 150px;
    height: 50px;
    background-color: #cdba6d;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border: 2px solid #c8b050;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.presentation-container button:hover {
    background-color: transparent;
    color: #ffffff;
}

.presentation-container button a {
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.destaks-container {
    width: 100%;
    height: 300px;
    padding: 0 100px;
    position: absolute;
    top: 90vh;
}

.destaks-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    color: #ffffff;
    padding: 10px 80px;
}

#square-1 {
    background-color: #353e47;
}

#square-1 i {
    color: #c8b050;
    font-size: 3rem;
}

#square-2 i {
    color: #FFFFFF;
    font-size: 3rem;
}


.destaks-span {
    font-size: 1.5rem;
    font-weight: bold;
}

.destaks-paragraph {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

#destaks-span-gold {
    color: #c8b050
}

#square-2 {
    background-color: #323a43;
}

#gavel-icon {
    font-size: 3rem;
}

#square-3 {
    background-color: #2e353d;
    padding: 0 100px;
}

#square-3 i {
    color: #c8b050;
    font-size: 3rem;
}

.divider {
    border: none;
    border-top: 3px solid #c8b050;
    border-radius: 20px;
    margin: 10px 0;
    width: 45%;
}

#divider-white {
    border-top: 3px solid #ffffff;
}


.welcome-container {
    width: 100%;
    height: 160vh;
    background: #a3a8ad;
    background: linear-gradient(261deg, rgba(163, 168, 173, 1) 0%, rgba(255, 255, 255, 1) 100%);

}

.signature-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.signature-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
}

.signature-text {
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    padding: 0 10px;
    margin-bottom: 90px;
}

.signature-title {
    width: 100%;
}

.signature-text h1 {
    font-size: 2.5rem;
    color: #cdba6d;
}

.signature-text h5 {
    font-weight: 300;
    letter-spacing: 3px;
}

.signature-text span {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.signature-text p {
    font-family: 'Poppins', sans-serif;
    text-align: justify;
}

.signature-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.signature-button button {
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-weight: 500;
    width: 150px;
    height: 50px;
    background-color: #cdba6d;
    border: 2px solid #c8b050;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.signature-button button:hover {
    background-color: transparent;
}

.signature-button img {
    width: 100px;
    height: auto;
}

.programer-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: end;
}

.programer-img {
    width: 70%;
    height: 70%;
    margin-left: 70px;
}

.services-container {
    width: 100%;
    height: 180vh;
    background-color: #323a43;
    display: flex;
    flex-direction: column;
}

.services-title {
    height: 30%;
    width: 100%;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-title h2 {
    margin: 0;
    font-size: 1.3rem;
    letter-spacing: 6px;
    font-weight: 500;
    color: #ffffff;
}

.services-title h1 {
    margin: 0;
    font-size: 3.5rem;
    color: #c8b050;
}

.projects {
    text-align: center;
    padding: 50px 20px;
    background: #f5f5f5;
}

.projects h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
}


.carousel {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.project-card {
    min-width: 100%;
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
    height: 400px;
    object-fit: cover;
}

.project-card h3 {
    margin-top: 15px;
    color: #333;
}

.project-card p {
    color: #666;
    margin: 10px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #cdba6d;
    border: 2px solid #c8b050;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.btn:hover {
    background-color: transparent;
    color: #333;
}

/* Botões de navegação */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.prev:hover,
.next:hover {
    background: rgba(0, 0, 0, 0.7);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}



.services-content {
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 120px;
    margin-top: 30px;
}

#services-divider {
    width: 5%;
}

.services-square {
    display: flex;
    width: 100%;
    height: 200px;
}

.services-icon {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.services-text {
    width: 85%;
    height: 100%;
    padding: 20px 40px 0 10px;
}

#service-icon {
    color: #c8b050;
    font-size: 3rem;
}

#service-icon:hover {
    color: #ffffff;
    cursor: pointer;
}

.text {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.text:hover {
    color: #c8b050;
    cursor: pointer;
}

.services-description {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
}


#divider {
    border: none;
    border-top: 3px solid #c8b050;
    border-radius: 20px;
    margin: 10px 0;
    width: 37%;
}



.form-container {
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: stretch;
    gap: 20px;
    background-color: #323a43;
}


.form-img {
    background-image: url('./assets/imagem-formulario.png');
    background-position: 50% 50%;
    background-size: cover;
    width: 50%;
    height: 100%;

    border: 2px solid #333;
    box-shadow: 0 0 0 #333;
}






.form-content {
    background-color: #323a43;
    width: 50%;
    height: 100%;
    padding: 120px 80px 60px 80px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.form-title {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-title h2 {
    margin: 0;
    font-size: 1.3rem;
    letter-spacing: 6px;
    font-weight: 500;
    color: #ffffff;
}


.form-title h1 {
    margin: 0;
    font-size: 3.5rem;
    color: #c8b050;
}



.form-description {
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #ffffff;
}

.form-inputs {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.first-inputs {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.input-container {
    display: flex;
    align-items: center;
    height: 50px;
    width: 49%;
}

.user-input {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: #2e353d;
    padding: 0 10px;
    border: none;
    border-radius: 4px;
    outline: none;
}

#user-phone-input {
    margin-top: 10px;
    width: 100%;
}

#user-message-input {
    width: 100%;
    height: 200px;
    margin-top: 10px;
}

#user-message {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    resize: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: #2e353d;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: none;
}

.submit-button {
    width: 175px;
    height: 60px;
    background-color: #c8b050;
    color: #2e353d;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border: 2px solid #cdba6d;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 60px;
}

.submit-button:hover {
    background-color: transparent;
    color: #ffffff;
}


footer {
    width: 100%;
    height: 130vh;
    background-color: #323a43;
    padding: 220px 140px 80px 140px;

}

.footer-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.about-text {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}

.about-text h2 {
    color: #c8b050;
    margin: 0;
    font-size: 1rem;
    letter-spacing: 6px;
    font-weight: 700;
}

.about-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: #ffffff;
    line-height: 2;
}

.social-media {
    display: flex;
    column-gap: 20px;
}

.social-media i {
    font-size: 2.3rem;
    color: #ffffff;
    cursor: pointer;
}

#github-icon:hover {
    color: #007b34;
}

#likedin-icon:hover {
    color: #007bff;
}

#instagram-icon:hover {
    color: #dc3545;
}


.theme-post {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.theme-post h2 {
    color: #c8b050;
    margin: 0;
    font-size: 1rem;
    letter-spacing: 6px;
    font-weight: 700;
    margin-bottom: 40px;
}

.posts {
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    display: flex;
}

.post-img {
    width: 20%;
    height: auto;
}

.post-content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 80px 0 10px;
}

.post-content p {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
}

.post-content p:hover {
    color: #c8b050;
}


.copyright {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright span {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 6px;
    color: #2e353d;
    font-size: 0.9rem;
}

@media (max-width: 1440px) {

    .content {
        padding: 0 90px;
    }

    #square-3 {
        padding: 0 60px;
    }


    .post-content {
        padding: 0 55px 0 10px;
    }
}

@media (max-width: 1280px) {
    header {
        padding: 0 90px 0 0;
    }

    .destaks-container {
        padding: 0 60px;
    }


    .form-container {
        height: 180vh;
    }

    .carousel {
        max-width: 700px;
    }


    footer {
        padding: 220px 60px 80px 60px;
    }
}

@media (max-width: 1024px) {
    .destaks-container {
        padding: 0 20px;

    }

    .services-content {
        padding: 0 40px;
    }

    .content {
        padding: 0 60px;
    }

    #square-3 {
        padding: 0 40px;
    }


    .form-content {
        padding: 120px 20px 60px 20px;
    }

    footer {
        padding: 220px 30px 80px 30px;
    }
}

@media (max-width: 835px) {

    header nav {
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        background-color: #323a43;
        display: flex;
        justify-content: center;
        transform: translateY(-200%);
        transition: transform 0.4s ease;
        z-index: 999;
    }

    header nav ul {
        flex-direction: inherit;
        gap: 20px;
        padding: 30px 40px;
        text-align: center;
    }


    header nav.open {
        transform: translateY(0);
    }


    #menu-icon {
        display: block;
        font-size: 2rem;
        color: #fff;
        cursor: pointer;
    }

    nav {
        display: none;
    }

    #menu-icon {
        display: block;
    }

    .home-container {
        background-position: 70% 50%;
        align-items: center;
    }

    .presentation-container {
        width: 90%;
        margin-top: 0;
    }

    .destaks-container {
        padding: 0 40px;

    }

    .destaks-content {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10px;

    }

    .content {
        height: 300px;
        row-gap: 10px;
        padding: 0 20px;
    }

    .welcome-container {
        height: 170vh;
    }

    .signature-text {
        width: 95%;
        height: 30%;
        row-gap: 30px;
        padding: 0 10px;
    }

    .programer-img {
        margin-left: 10px;
        width: 90%;
        height: 600px;
    }

    .services-container {
        height: 120vh;
    }

    .services-content {
        grid-template-columns: repeat(2, 1fr);
        padding-top: 80px;

    }



    .form-container {
        flex-direction: column;
    }

    .form-img {
        height: 80%;
        width: 100%;
    }

    .form-content {
        width: 100%;
        height: 70%;
        padding: 120px 40px 60px 40px;
        row-gap: 30px;
    }

    footer {
        padding: 100px 40px 0 40px;
        height: 120vh;
    }

    .footer-content {
        flex-direction: column;
        justify-content: center;
        height: 80%;
    }

    .about-text {
        width: 100%;
        height: 40%;
    }

    .theme-post {
        width: 100%;
        height: 45%;
    }

    .post-content {
        padding: 0 140px 0 10px;
    }
}

@media(max-width: 600px) {
    .welcome-container {
        height: 240vh;
    }

    .programer-img {
        width: auto;
        height: 400px;
    }

    .signature-content {
        width: 95%;
        height: 25%;
        justify-content: end;
    }

    .programer-container {
        width: 95%;
        height: 30%;
        justify-content: center;
    }

    .signature-container {
        flex-direction: column;
        justify-content: end;
    }

    .services-content {
        padding: 0 10px 0 20px;
    }

    .services-text {
        width: 95%;
        padding: 20px 10px 0 10px;
    }

    footer {
        height: 180vh;
    }

}

@media (max-width: 425px) {
    header {
        padding: 0 80px 0 0;
    }

    .home-container {
        display: flex;
        justify-content: center;
        height: 120vh;
    }

    .modal {
        height: 120vh;
    }

    .presentation-container {
        width: 100%;
        height: 60%;
    }

    .presentation-container h3 {
        text-align: center;
    }

    .presentation-container h1 {
        font-size: 2rem;
    }

    .destaks-container {
        padding: 0 10px;
        top: 110vh;
    }

    .welcome-container {
        height: 1960px;
        align-items: end;
    }

    .signature-container {
        gap: 100px;
    }


    .signature-content {
        height: 400px;
    }

    .signature-text {
        width: 95%;
        height: 90%;
        row-gap: 10px;
        margin-bottom: 10px;
    }

    .programer-container {
        height: 400px;
    }

    .programer-img {
        margin-left: 10px;
        width: 70%;
        height: 350px;
    }

    .services-container {
        height: 1300px;
    }

    .services-title {
        margin-top: 120px;
        padding-top: 20px;
        height: 15%;
    }

    .services-title h1 {
        text-align: center;
        font-size: 3rem;
    }

    .carousel {
        max-width: 350px;
    }

    .services-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .form-container {
        height: 200vh;
    }

    .form-content {
        padding: 120px 10px 60px 10px;
    }

    .form-title h2 {
        font-size: 1rem;
    }

    .form-title h1 {
        font-size: 2rem;
    }

    footer {
        padding: 50px 10px 0 10px;
        height: 180vh;
    }

    .footer-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-text {
        width: 100%;
        height: 40%;
        row-gap: 20px;
    }


    .theme-post {
        width: 100%;
        height: 45%;
    }


    .post-content {
        padding: 0 10px;
    }

    .post-content p {
        font-size: 0.8rem;
    }

    .first-inputs {
        flex-direction: column;
        gap: 10px;
    }

}



@media (max-width:300px) {
    .modal {
        height: 130vh;
    }

    .home-container {
        height: 130vh;
    }

    .destaks-container {
        top: 120vh;
    }

    .welcome-container {
        height: 280vh;
    }

    .programer-container {
        height: 25%;
    }

    .services-container {
        height: 270vh;
    }

    .form-container {
        height: 240vh;
    }

    .form-inputs {
        height: 600px;
    }

    footer {
        height: 200vh;
    }

    .theme-post {
        height: 55%;
        margin-top: 50px;
    }

    .posts {
        height: 100%;
    }

    .post-content p {
        font-weight: 600;
        font-size: 1rem;
    }

    .post-date span {
        font-size: 0.8rem;
    }

    .post-img {
        height: 70px;
    }


}